.fondonegro{
    background-color: black;
}
h1{
    color:#ffffff

}
.fondoceleste{
    background-color: darkcyan;
}
.fondoblanco{
    background-color: #ffffff;
}
.fondotransparente{
    background-color: transparent;
}