body{
    font-family: 'cabin';
}

.fondonegro{
    background-color: black;
}
h1{
    color:#ffffff;
    text-align: center;
    font-weight: 700;

}
.fondoceleste{
    background-color: darkcyan;
}
.fondoblanco{
    background-color: #ffffff;
}
.fondotransparente{
    background-color: transparent;
}
.logosviaje{
    background-color: darkcyan;
    text-align: center;
   
}
.icono svg {
    fill: #ffffff;
    }