body{
    font-family: 'cabin';
}
html{
    scroll-behavior: smooth;
}

.fondonegro{
    background-color: black;
}
h1{
    color:#ffffff;
    text-align: center;
    font-weight: 700;

}
.fondoceleste{
    background-color: darkcyan;
}
.fondoblanco{
    background-color: #ffffff;
}
.fondotransparente{
    background-color: transparent;
}
.logosviaje{
    background-color: darkcyan;
    text-align: center;
    fill:#ffffff;
   
}
.icono{
    fill: #ffffff;
    }
.letrasfooter{
    color:#ffffff;
    font-weight: 700;
}
.letrasrelleno{
    font-weight: 300;
    text-align: center;
}
.estilotitulo{
    font-weight: 700;
    text-align: left;
    color:#ffffff;
    font-size: large;
}
.letrasnav{
    color: #ffffff;
    font-weight: 300;
}